:root {
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*style for header*/
.header {
  background-color: black;
  color: white;
  height: 150%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*style for logo*/
.logo img {
  height: 36px;
}

/*style for top menu*/
.top_menu {
  background-color: black;
}

/* Navigation https://codepen.io/ryanmorr/pen/LVzYmx/ */
/*.header*/ 

.nav {
  float: center;
}

.nav {
  -width: 550px;
  -margin: 100px auto 0 auto;
  text-align: center;
}

.nav {
  font-family: Georgia, Arial, sans-serif;
  font-size: 14px;
}

.nav-items {
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-right: 25px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
  display: block;
  position: relative;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
  color: #fff;
  font-weight: bold;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
  opacity: 1;
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}

.dropdown {
  position: relative;
}

.dropdown .nav-link {
  padding-right: 15px;
  height: 17px;
  line-height: 17px;
}

.dropdown .nav-link::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;
  width: 150px;
  margin-left: -100px;
  background: black;
  color: white;
  border-radius: 3px;
  line-height: 1.46667;
  margin-top: -5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transform: translate(0, 0) scale(0.85);
  transform: translate(0, 0) scale(0.85);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  pointer-events: none;
}

.submenu::after,
.submenu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  height: 0;
}

.submenu::after {
  border-bottom-color: black;
}

.submenu::before {
  margin-left: -13px;
  border: 13px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.submenu-items {
  list-style: none;
  padding: 10px 0;
}

.submenu-item {
  display: block;
  text-align: left;
}

.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
  color: white;
  padding: 10px 20px;
}

.submenu-link:hover {
  text-decoration: underline;
}

.submenu-seperator {
  height: 0;
  margin: 12px 10px;
  border-top: 1px solid #eee;
}

.show-submenu .submenu {
  opacity: 1;
  -webkit-transform: translate(0, 25px) scale(1);
  transform: translate(0, 25px) scale(1);
  pointer-events: auto;
}

/*style for content*/
.content {
  background-color: #c6d4df;
  color: black;
  display: flex;
  /*justify-content: space-evenly;*/
  align-items: center;
}

/*style for left menu*/
.left_menu {
  width: 20%;
  
  color: black;
  align-self: flex-start;

  font-family: Georgia, Arial, sans-serif;
  font-size: 14px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-left: 20%;

}

select {
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 14px;
  border: none;

}

/*style for loader*/
/* loader */

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0;

}


.loader.show {
  opacity: 1;
}

.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f4f4f4;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes loader {
  0% {
      top: 8px;
      height: 64px;
  }

  50%,
  100% {
      top: 24px;
      height: 32px;
  }
}

/*search bar*/
.search_box {
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
  border: none;
}

.search_box button {
  width: 200px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  background: #ddd;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.search_box button:hover {
  background: #ccc;
}

/*style for games list*/
#games_list {
  
   /*flex-wrap: wrap;*/
  /*row-gap: 10px;*/
  /*margin-right:20%;*/

  
  max-width: 768px;
  margin: 2em auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.game_wrapper {
  background-color: #4c6b22;
  margin:10px;
}

img {
  width: 100%;
}

.game_info {
  display:flex;
  justify-content: space-between;
}

.game_name {
  background-color: #4c6b22;
  color:#BEEE11;
  font-size: 20px;
  padding: 5px;
}

.game_price {
  background-color: #4c6b22;
  color:#BEEE11;
  font-size: 20px;
  padding: 5px;
  justify-self: flex-end;
}

/*view page*/
#single_game_image {
  width: 80%;
}

#single_game_description {
  width: 80%;
}
