:root {
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*style for header*/
.header {
  background-color: black;
  max-width: 1280px;
  margin: 0 auto;
  max-height: fit-content;
  display: flex;
  align-items: center;
  height: 60px;
}

/*style for logo*/
.logo {
  flex-grow: 1;
  padding: 10px;
}

.logo img{
  width: 143px;
}

/*style for top menu*/
.top_menu {
  background-color: black;
  flex-grow: 4;
}

.top_menu_responsive_logo {
  display: none;
  background-color: white;
}

.top_menu_responsive_logo  img{
  height: 36px;
}


.top_menu_responsive {
  display: none;
  background-color: black;
  padding:10px;
}

/* Navigation https://codepen.io/ryanmorr/pen/LVzYmx/ */
/*.header*/ 
.nav-items {
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-right: 25px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active
{
  display: block;
  position: relative;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-weight: bold;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
  opacity: 1;
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}

/*style for content*/
.content {
  background-color: #c6d4df;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: calc(100vh - 60px);
}

/*style for left menu*/
.left_menu {
  font-family: Georgia, Arial, sans-serif;
  font-size: 14px;
  color: black;
  /* flex-grow: 1;  */
  align-self: flex-start;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

body {
  height: 100vh
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

select {
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 14px;
  border: none;
}

/*style for loader*/
/*style for loader*/
/* loader */

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0;

}

.loader.show {
  opacity: 1;
}

.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f4f4f4;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes loader {
  0% {
      top: 8px;
      height: 64px;
  }

  50%,
  100% {
      top: 24px;
      height: 32px;
  }
}

/*search bar*/
.search_box {
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
  border: none;
}

.search_box button {
  width: 200px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  background: #ddd;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.search_box button:hover {
  background: #ccc;
}

/*style for games list*/
#games_list {

  flex-grow: 4;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;;
  /*margin-right:20%;*/
  height: 100%;
  overflow-y: scroll;
}

.game_wrapper {
  background-color: black;
  color:white;
  font-size: 1.5vw;
  width: 45%;
}

.game_wrapper img {
  width: 100%;
}

.game_info {
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.game_name {
  padding: 5px;
}

.game_price {
  padding: 5px;
  justify-self: flex-end;
}

/*view page*/
#single_game_image {
  width: 80%;
}

#single_game_description {
  width: 80%;
}

/*style for responsive*/
@media screen and (max-width: 414px) {

.header {
  display: flex;
}

/*style for logo*/
.logo {
  flex-grow: 1;
  padding: 10px;
}

/*style for top menu*/
.top_menu {
  display: none;
}

.top_menu_responsive_logo {
  display: block;
  background-color: black;
  flex-grow: 8;
  padding: 10px;
  max-width: fit-content;
}

.top_menu_responsive.on {
  display: flex;
  flex-direction: column;
}

.top_menu_responsive.off {
  display: none;
}

.content {
  width: 100%;
}

/*style for left menu*/
.left_menu {
  width: 100%;
}

#genres_list  {
  width: 100%;
}

#tags_list {
  width: 100%;
}

select {
  width: 100%;
}

.search_box {
  width: 100%;
}

#search_query {
  width: 100%;
}

#search_button {
  width: 100%;
}

.game_wrapper {
  width: 100%;
}

.game_wrapper {
  font-size: 6vw;
  display: block;
  text-align:center;
}

.game_wrapper img {
  width: 100%;
}

.game_info {
  width: 100%;
  display:block;
}

.game_name {
  padding: 5px;
}

.game_price {
  padding: 5px;
}

}